body {
    display: flex;
    font-family: 'Roboto';
    background-color: #202124;
    color: whitesmoke;
    margin: auto;
    
}

header {
    font-size: 24px;
    font-weight: bold;
    border-bottom: 4px solid gray;
}

#Portugol {
    font-size: 28px;
    padding: 20px 0;
    text-align: center;
    font-family: 'Source Code Pro';
}

nav {
    display: flex;
    flex-direction: column;
    width: 60%;
    position: sticky;
    height: 100%;
    width: 300px;
    min-width: 290px;
}

main {
    position: absolute;
    margin-left: 300px;
    border-left: 2px solid rgba(0, 22, 22, 0.4);
}

a {
    text-decoration: none;
    color: #8AB4F8;
}

.nav-link {
    padding: 20px;
    padding-left: 15px;
}

a:hover {
    text-decoration: underline;
}

.nav-link:hover {
    text-decoration: none;
    background-color: #8AB4F8;
    color: #202124;
}

section {
    padding: 15px;
    border-bottom: 2px solid gray;
    padding-top: 40px;
    padding-left: 40px;
}

nav a {
    border-bottom: 2px solid gray;
}

code {
    font-size: 17px;
    font-family: 'Source Code Pro';
}

pre {
    padding: 0px;
}

.subsection {
    font-size: 19px;
}


.tecla {
    color: black;
    background-color: white;
    font-size: smaller;
    border: 1px solid black;
    border-radius: 4px;
    padding: 2px 5px;
}

p {
    padding: 15px;
    word-wrap: break-word;
}

.code {
    border: 1px gray solid;
    background-color: #303236;
}

@media only screen and (max-width: 815px) {
    nav {
        position: absolute;
        top: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        max-height: 275px;
        margin-bottom: 0;
    }

    /* body {
        border: 1px solid white;
    } */

    /* .nav-link, #Portugol {
        margin-right: 17.8px;
    } */

    main {
        position: relative;
        margin-top: 380px;
        margin-left: 0;
        border-left: none;
    }

    p {
        width: 90%;
        font-size: 10px;
        margin-top: 0;
    }
    
    .code {
        width: 90%
    }

    code {
        width: 90%;
        font-size: 7px;
    }

    .subsection {
        margin: 10px 0;
    }
}

